*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    color: white; 
    font-family: sans-serif;
}

body {
    background-color: rgb(22, 22, 22);
    overflow-x: hidden;
}
header {
    
    background-color: black;
    box-shadow: 10px 10px 10px;
    
}


.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;    
    
}

.logo {
    display: flex;
    width: 100px;
    height: 100px;    
    align-items: center;
    justify-content: center;
}
.logo img {
    height: 100px;
    width: 100px;
}

.menu {
    display: flex;
    justify-content: flex-end; 
    flex: 1;    
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    display:flex;
    height: 100px;
    align-items: center;
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid black;
    font-weight: 900;
}
.menu li a:hover,
.menu a.active {
    border-bottom: 3px solid white;
}

.banner {
    background-image: url("../images/software.jpg");
    width: 100%;
    height: calc(100vh - 100px);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height:100%;
    background-color:rgba(0, 0, 0, 0.8);    
    display: flex;         
}

.banner .slide {
    width: 100vw;   
    height: 100%;   
}

.banner .slidearea {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner .slidearea h1 {
    font-weight: 900;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px black;    
}

.banner .slidearea span {
    color: rgb(82, 82, 82);   
}
.banner .slidearea h2 {
    margin-top: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}
.banner .slidearea a {
    background-color: transparent;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 20px;
    font-weight: 900;
}
.banner .slidearea a:hover {
    background-color: rgba(175, 174, 174, 0.2);
    
}

.banner .pointer-options {
    position: absolute;
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:20px;    
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 8px;
    margin: 0px 10px;
    cursor: pointer;
}

.banner .pointer:hover,
.banner .pointer.active {
    background-color: rgba(175, 174, 174, 0.6);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;




}
.default {    
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;    
}
.default .section-title {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.default .section-desc {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: gray;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 960px;
    width: 100%;
    
    
}

.default.light {
    background-color: rgba(87, 86, 86, 0.4);
}
.default.light .section-title,
.default.light .section-body {    
    color: black;
}

.default.light .section-desc {
    color: white;
}


.default.dark {
    background-color: rgba(0, 0, 0, 0.4);
}
.default.dark .section-title,
.default.dark .section-body {
    color: white;
}

.default.dark .section-desc {
    color: gray;
}







/* CSS DE ÁREAS ESPECÍFICAS*/

.section-aboutus {
    display: flex;    
    align-items: flex-start;
    
    
}

.section-aboutus--left {
    flex:1;
}
.section-aboutus--left p {
    font-size: 14px;
    line-height: 20px;
}
.section-aboutus--left a {
    display: inline-block;    
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;

}
.section-aboutus--left a:hover {
    background-color:rgba(175, 174, 174, 0.2);
}

.section-aboutus--right {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    
}

.section-aboutus--right img {
    width: 80%;
    box-shadow: 0px 5px 50px rgba(255, 255, 255, 0.2);
}

.section-services {    
    display: flex;
}

.section-services .services {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;    
    height: auto;
    border-right: 1px solid white;
}


.section-services .services:first-child {
    border-left: 1px solid white;
}

.section-services .services img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.services .services-title {
    font-size: 17px;
    max-width: 90%;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services .services-desc { 
    max-width: 90%;  
    text-align: center;    
    font-size: 14px;
    font-weight: bold;
    color: gray;
}


.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-galery {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-filter {
    display: inline-block;
    border: 1px solid white;
    padding: 0px 20px;
    border-radius: 30px;    
}

.section-filter ul,
.section-filter li {
    list-style: none;    
}

.section-filter li {
    display: inline-block;
    padding: 10px 15px;
    border-right: 1px solid white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    
}

.section-filter li:last-child {
    border-right: none;
}

.section-filter li:hover {
    border-bottom: 3px solid white;
}

.section-image {    
    width: 100vw;
    max-width: 960px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.section-image .image {    
    width: 280px;    
}

.section-image .imagearea {
    margin:10px 0px;    
    width: 280px;
    height: 160px;
}
.section-image .imagearea img {        
    width: inherit;
    height: inherit;    
    
}
.section-image .imageinfo {
    display:none;
    flex-direction:column;
    align-items:center;
    justify-content:center;   
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    position: absolute;
}
.imagearea:hover .imageinfo {
    display: flex;
}
















